<ion-header>
  <ion-navbar>
    <ion-row justify-content-between align-items-center class="bar bar-header bar-positive">
      <ion-title text-center>Контакти
      </ion-title>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding-vertical>
  <div class="friends_items" *ngIf="!selectFriends">
    <ion-item (click)="toContacts()">
      <h2>
        Додати контакт
      </h2>
    </ion-item>
  </div>
  <div class="contact_list">
    <div>
      <ion-item *ngFor=" let friend of friendsRequestsArr | orderBy: 'first_name'" text-wrap>
        <ion-avatar item-start>
          <img *ngIf="friend.photo_path" [src]="friend.photo_path">
          <div *ngIf="!friend.photo_path" class="photo-placeholder" text-center>
          <span>
            {{(friend.first_name ? friend.first_name[0] : '') + (friend.last_name ? friend.last_name[0] : '')}}
          </span>
          </div>
        </ion-avatar>
        <h3><b>{{friend.first_name + ' ' + friend.last_name}}</b>
          <i>прислав Вам заявку в друзі</i></h3>
        <div row col-9>
          <button ion-button round outline id="left_button" (click)="acceptFriend(friend)">Додати</button>
          <button ion-button round outline id="disable_button" (click)="declineFriend(friend)">Сховати</button>
        </div>
      </ion-item>
    </div>

    <div *ngFor="let friend of friendsArr | orderBy: 'first_name'">
      <ion-item *ngIf="friend" no-lines>
        <ion-avatar item-start>
          <img *ngIf="friend.photo_path" [src]="friend.photo_path">
          <div *ngIf="!friend.photo_path" class="photo-placeholder" text-center>
          <span>
            {{(friend.first_name ? friend.first_name[0] : '') + (friend.last_name ? friend.last_name[0] : '')}}
          </span>
          </div>
        </ion-avatar>
        <ion-label>
          {{friend.first_name + ' ' + friend.last_name}}
        </ion-label>
        <ion-icon name="close" (click)="deleteFriend(friend)" item-end></ion-icon>
      </ion-item>
    </div>
    <div class="alert_message" justify-content-between align-items-center *ngIf="!friendsArr || friendsArr.length === 0">
      <h6 text-center>
        У Вас ще немає контактів
      </h6>
    </div>
  </div>
</ion-content>

